---
title: 公開資料まとめ
descriptipon: カンファレンス関連の公開資料や動画などについてまとめました。
---

.container
  .pageHeader
    h1.pageHeader_title
      = current_page.data.title
  .schedule
    .alert.alert-info
      | Blogや記事を書かれた方は、事務局まで是非ご一報ください。リンクを貼らせていただきます。
      br
      | 事務局: 関 満徳 (<a href="https://twitter.com/fullvirtue" target="_blank">@fullvirtue</a>)&nbsp;<i class="fa fa-envelope-o"></i> <a href="mailto:fullvirtue@vivaceplus.com" target="_blank">fullvirtue@vivaceplus.com</a>

    <p><img src="http://2017.pmconf.jp/assets/images/pmconf2017sign.jpg" width="100%" /></p>
    <ul><li><a href="#matome1114">2017/11/14 (火) 公開資料まとめ</a></li><li><a href="#matome1115">2017/11/15 (水) 公開資料まとめ</a></li><li><a href="#matomeall">全体まとめ</a></li></ul>

  .schedule
    h2.schedule_title#matome1114
      | 2017/11/14 (火) 公開資料まとめ
    / ul.nav.nav-tabs
    /   li.active
    /     =link_to '10/24 (月)', '#day1', 'data-toggle' => 'tab'
    .tab-content
      .tab-pane.active#day1
        .scheduleTable
          .scheduleTable_line
            .scheduleTable_line_session
              .scheduleTable_line_speakerIcon
                = image_tag 'speakers/MitsuruSaito.jpeg', width: '100', height: '100'
              .scheduleTable_line_descriptions
                .scheduleTable_line_title
                  | <a href="../sessions/2017/09/14/whypm/">なぜ今プロダクトマネジメントか</a>
                .scheduleTable_line_speaker
                  | by  齊藤 満 氏 楽天株式会社 Senior Manager
                div[style="margin-top: 10px;"]
                  <a href="assets/files/speakers-contents/PM Conference japan 2017 saito.pptx"><span class="fa fa-download"></span> 資料ダウンロード(pptx)</a>
          .scheduleTable_line
            .scheduleTable_line_session
              .scheduleTable_line_speakerIcon
                = image_tag 'speakers/ShinjiAsada.png', width: '100', height: '100'
              .scheduleTable_line_descriptions
                .scheduleTable_line_title
                  | <a href="../sessions/2017/09/14/case_study1/">Salesforceで行われているプロダクトマネジメント</a>
                .scheduleTable_line_speaker
                  | by  浅田 慎二 株式会社セールスフォース・ドットコム セールスフォース・ベンチャーズ 日本代表
                  br
                  | by  Ken Wakamatsu 米国セールスフォースドットコム 開発部プロダクト マネージメント ディレクター
                div[style="margin-top: 10px;"]
                  <a href="assets/files/speakers-contents/Product Manager Conference 2017 salesforce.pdf"><span class="fa fa-download"></span> 資料ダウンロード(pdf)</a>
          .scheduleTable_line
            .scheduleTable_line_session
              .scheduleTable_line_speakerIcon
                = image_tag 'speakers/RyoheiMiyota.png', width: '100', height: '100'
              .scheduleTable_line_descriptions
                .scheduleTable_line_title
                  | <a href="../sessions/2017/09/14/case_study3/">開発チームが安定したプロダクトマネジメントを実現するための７つのルール</a>
                .scheduleTable_line_speaker
                  | by  御代田 亮平 LINE株式会社開発1センター プロダクトマネージャー
                div[style="margin-top: 10px;"]
                  <iframe src="//www.slideshare.net/slideshow/embed_code/key/G13CrciD5h9hoo" width="595" height="485" frameborder="0" marginwidth="0" marginheight="0" scrolling="no" style="border:1px solid #CCC; border-width:1px; margin-bottom:5px; max-width: 100%;" allowfullscreen> </iframe> <div style="margin-bottom:5px">from <strong><a href="https://www.slideshare.net/linecorp" target="_blank">LINE Corporation</a></strong> </div>
          .scheduleTable_line
            .scheduleTable_line_session
              .scheduleTable_line_speakerIcon
                = image_tag 'speakers/ShuheiKimura.png', width: '100', height: '100'
              .scheduleTable_line_descriptions
                .scheduleTable_line_title
                  | <a href="../sessions/2017/09/14/career/">エンジニアがプロダクトマネージャーとしての役割を全うするために何をするべきか</a>
                .scheduleTable_line_speaker
                  | by  木村 衆平 株式会社サイバーエージェント アドテク本部 アドテクスタジオ プロダクトマネージャー
                div[style="margin-top: 10px;"]
                  <script async class="speakerdeck-embed" data-id="850eda675a3f4411b0e6e74c89d56273" data-ratio="1.33333333333333" src="//speakerdeck.com/assets/embed.js"></script>

  .schedule
    h2.schedule_title#matome1115
      | 2017/11/15 (火) 公開資料まとめ
    / ul.nav.nav-tabs
    /   li.active
    /     =link_to '10/25 (火)', '#day2', 'data-toggle' => 'tab'
    .tab-content
      .tab-pane.active#day2
        .scheduleTable
          .scheduleTable_line
            .scheduleTable_line_session
              .scheduleTable_line_speakerIcon
                = image_tag 'speakers/SakiTakagi.jpg', width: '100', height: '100'
              .scheduleTable_line_descriptions
                .scheduleTable_line_title
                  | <a href="../sessions/2017/09/15/day2_lunch_session/">プロダクトマネージャー兼エンジニアが語るリモートワークが当たり前の組織</a>
                .scheduleTable_line_speaker
                  | by  高木 咲希 氏 株式会社ソニックガーデン
                div[style="margin-top: 10px;"]
                  <a href="assets/files/speakers-contents/pmconf2017_takagi.pdf"><span class="fa fa-download"></span> 資料ダウンロード(pptx)</a>
          .scheduleTable_line
            .scheduleTable_line_session
              .scheduleTable_line_speakerIcon
                = image_tag 'speakers/NaokoOkuizumi.png', width: '100', height: '100'
              .scheduleTable_line_descriptions
                .scheduleTable_line_title
                  | <a href="../sessions/2017/09/15/user_insights/">ユーザーの“心の声”を探るUXリサーチ</a>
                .scheduleTable_line_speaker
                  | by  奥泉 直子 氏 フリーランス・ユーザーリサーチャー
                div[style="margin-top: 10px;"]
                  <a href="assets/files/speakers-contents/UX Research for Product Manager Conference 20171115_SHARE.pdf"><span class="fa fa-download"></span> 資料ダウンロード(pptx)</a>

  .schedule
    h2.schedule_title#matomeall
      | 全体まとめ
    / ul.nav.nav-tabs
    /   li.active
    /     =link_to '10/25 (火)', '#day2', 'data-toggle' => 'tab'
    .tab-content
      .tab-pane.active#day1
        .scheduleTable
          .scheduleTable_line
            .scheduleTable_line_session
              .scheduleTable_line_speakerIcon
                = image_tag 'pmconf_ico.png', width: '100', height: '100'
              .scheduleTable_line_descriptions
                .scheduleTable_line_title
                  | Twitterまとめ
                .scheduleTable_line_documents
                  | <ul><li><span style="color:red; font-weight:bold;">[togetter]</span> <a href="https://togetter.com/li/1171220">2017/11/14(火)15(水) Product Manager Conference 2017 #pmconfjp Part1 Day1 午前</a> by 関 満徳 氏</li>
                  | <li><span style="color:red; font-weight:bold;">[togetter]</span> <a href="https://togetter.com/li/1171371">2017/11/14(火)15(水) Product Manager Conference 2017 #pmconfjp Part2 Day1 午後</a> by 関 満徳 氏</li>
                  | <li><span style="color:red; font-weight:bold;">[togetter]</span> <a href="https://togetter.com/li/1171700">2017/11/14(火)15(水) Product Manager Conference 2017 #pmconfjp Part3 Day2</a> by 関 満徳 氏</li>
                  | </ul>

    .alert.alert-info
      | Blogや記事を書かれた方は、事務局まで是非ご一報ください。リンクを貼らせていただきます。
      br
      | 事務局: 関 満徳 (<a href="https://twitter.com/fullvirtue" target="_blank">@fullvirtue</a>)&nbsp;<i class="fa fa-envelope-o"></i> <a href="mailto:fullvirtue@vivaceplus.com" target="_blank">fullvirtue@vivaceplus.com</a>
