---
title: タイムテーブル
descriptipon: カンファレンスのタイムテーブルについて紹介します。
---

.container
  .pageHeader
    h1.pageHeader_title
      = current_page.data.title
  .schedule
    / .alert.alert-info
    /   | タイムテーブルは一部調整中です 🙏🏻
    /   br
    /   | 時刻や内容に変更が入る可能性があります。ご了承ください。

    h2.schedule_title
      | Day1: 2017/11/14 (火)
    / ul.nav.nav-tabs
    /   li.active
    /     =link_to '10/24 (月)', '#day1', 'data-toggle' => 'tab'
    .tab-content
      .tab-pane.active#day1
        .scheduleTable
          .scheduleTable_line
            .scheduleTable_line_time
              | 09:00 - 10:00
            .scheduleTable_line_session-all.break
              | Registration
          .scheduleTable_line
            .scheduleTable_line_time
              | 10:00 - 10:20
              .scheduleTable_line_time_min
               | 20min
            .scheduleTable_line_session-all.break
              | Welcome Talk
          .scheduleTable_line
            .scheduleTable_line_time
              | 10:20 - 10:50
              .scheduleTable_line_time_min
               | 30min
            .scheduleTable_line_session
              .scheduleTable_line_speakerIcon
                = image_tag 'speakers/MitsuruSaito.jpeg', width: '100', height: '100'
              .scheduleTable_line_descriptions
                .scheduleTable_line_title
                  a href="../sessions/2017/09/14/whypm/" なぜ今プロダクトマネジメントか
                .scheduleTable_line_speaker
                  | by 齊藤 満 氏 楽天株式会社 Senior Manager
          .scheduleTable_line
            .scheduleTable_line_time
              | 10:50 - 11:35
              .scheduleTable_line_time_min
               | 45min
            .scheduleTable_line_session
              .scheduleTable_line_speakerIcon
                = image_tag 'speakers/MitsuruSaito.jpeg', width: '100', height: '100'
              .scheduleTable_line_descriptions
                .scheduleTable_line_title
                  a href="../sessions/2017/09/14/pmtalk/" プロダクトマネージャートークセッション
                .scheduleTable_line_speaker
                  | by 齊藤 満 氏 楽天株式会社 Senior Manager
          .scheduleTable_line
            .scheduleTable_line_time
              | 
            .scheduleTable_line_session
              .scheduleTable_line_speakerIcon
                = image_tag 'profile_images/takoratta.jpeg', width: '100', height: '100'
              .scheduleTable_line_descriptions
                .scheduleTable_line_speaker
                  | by 及川 卓也 氏 フリーランス
          .scheduleTable_line
            .scheduleTable_line_time
              | 11:35 - 11:50
              .scheduleTable_line_time_min
               | 15min
            .scheduleTable_line_session-all.break
              | Break
          .scheduleTable_line
            .scheduleTable_line_time
              | 11:50 - 12:20
              .scheduleTable_line_time_min
               | 30min
            .scheduleTable_line_session
              .scheduleTable_line_speakerIcon
                = image_tag 'pmconf_ico.png', width: '100', height: '100'
              .scheduleTable_line_descriptions
                .scheduleTable_line_title
                  | プロダクトマネージャーに期待するもの
                .scheduleTable_line_speaker
                  | by 佐藤 裕介 氏 株式会社フリークアウト・ホールディングス 代表取締役社長
          .scheduleTable_line
            .scheduleTable_line_time
              | 12:20 - 13:30
              .scheduleTable_line_time_min
               | 1h 10min
            .scheduleTable_line_session
              .scheduleTable_line_speakerIcon
                = image_tag 'pmconf_ico.png', width: '100', height: '100'
              .scheduleTable_line_descriptions
                .scheduleTable_line_title
                  | 若手プロダクトマネージャーによるショートトークセッション
                  br
                  | （ランチ付き）
                .scheduleTable_line_speaker
                  | 登壇者調整中
          .scheduleTable_line
            .scheduleTable_line_time
              | 13:30 - 14:00
              .scheduleTable_line_time_min
               | 30min
            .scheduleTable_line_session
              .scheduleTable_line_speakerIcon
                = image_tag 'pmconf_ico.png', width: '100', height: '100'
              .scheduleTable_line_descriptions
                .scheduleTable_line_title
                  | 新しいテクノロジーの潮流とどう向き合うか
                .scheduleTable_line_speaker
                  | 宇野 雅晴 氏 Omise Japan株式会社 Business Development Manager
          .scheduleTable_line
            .scheduleTable_line_time
              | 14:00 - 14:15
              .scheduleTable_line_time_min
               | 15min
            .scheduleTable_line_session-all.break
              | Break
          .scheduleTable_line
            .scheduleTable_line_time
              | 14:15 - 14:45
              .scheduleTable_line_time_min
               | 30min
            .scheduleTable_line_session
              .scheduleTable_line_speakerIcon
                = image_tag 'speakers/YosukeOkada.jpg', width: '100', height: '100'
              .scheduleTable_line_descriptions
                .scheduleTable_line_title
                  | [ユーザー理解（データ分析）]
                  br
                  a href="../sessions/2017/09/14/abeja/" 第四次産業革命をリードするIoT、ビッグデータ、人工知能の可能性
                .scheduleTable_line_speaker
                  | 岡田 陽介 氏 株式会社ABEJA 代表取締役CEO
          .scheduleTable_line
            .scheduleTable_line_time
              | 14:45 - 15:00
              .scheduleTable_line_time_min
               | 15min
            .scheduleTable_line_session-all.break
              | Break
          .scheduleTable_line
            .scheduleTable_line_time
              | 15:00 - 16:00
              .scheduleTable_line_time_min
               | 60min
            .scheduleTable_line_session
              .scheduleTable_line_speakerIcon
                = image_tag 'pmconf_ico.png', width: '100', height: '100'
              .scheduleTable_line_descriptions
                .scheduleTable_line_title
                  | ケーススタディ #1
                .scheduleTable_line_speaker
                  | 浅田 慎二 氏 株式会社セールスフォース・ドットコム セールスフォース・ベンチャーズ 日本代表
          .scheduleTable_line
            .scheduleTable_line_time
              | 
            .scheduleTable_line_session
              .scheduleTable_line_speakerIcon
                = image_tag 'pmconf_ico.png', width: '100', height: '100'
              .scheduleTable_line_descriptions
                .scheduleTable_line_speaker
                  | by Kenji Wakamatsu 氏 株式会社セールスフォース・ドットコム
          .scheduleTable_line
            .scheduleTable_line_time
              | 16:00 - 16:20
              .scheduleTable_line_time_min
               | 20min
            .scheduleTable_line_session-all.break
              | Break
          .scheduleTable_line
            .scheduleTable_line_time
              | 16:20 - 16:50
              .scheduleTable_line_time_min
               | 30min
            .scheduleTable_line_session
              .scheduleTable_line_speakerIcon
                = image_tag 'pmconf_ico.png', width: '100', height: '100'
              .scheduleTable_line_descriptions
                .scheduleTable_line_title
                  | ケーススタディ #2
                .scheduleTable_line_speaker
                  | by 株式会社メルカリ
          .scheduleTable_line
            .scheduleTable_line_time
              | 16:50 - 17:05
              .scheduleTable_line_time_min
               | 15min
            .scheduleTable_line_session-all.break
              | Break
          .scheduleTable_line
            .scheduleTable_line_time
              | 17:05 - 17:35
              .scheduleTable_line_time_min
               | 30min
            .scheduleTable_line_session
              .scheduleTable_line_speakerIcon
                = image_tag 'pmconf_ico.png', width: '100', height: '100'
              .scheduleTable_line_descriptions
                .scheduleTable_line_title
                  | ケーススタディ #3
                .scheduleTable_line_speaker
                  | by LINE株式会社
          .scheduleTable_line
            .scheduleTable_line_time
              | 17:35 - 17:45
              .scheduleTable_line_time_min
               | 10min
            .scheduleTable_line_session-all.break
              | クロージング
          .scheduleTable_line
            .scheduleTable_line_time
              | 17:45 - 20:45
              .scheduleTable_line_time_min
               | 3h
            .scheduleTable_line_session-all.break
              | ネットワーキング
  .schedule
    h2.schedule_title
      | Day2: 2017/11/15 (水)
    .tab-content
      .tab-pane.active#day1
        .scheduleTable
          .scheduleTable_line
            .scheduleTable_line_time
              | 09:00 - 10:00
            .scheduleTable_line_session-all.break
              | Registration
          .scheduleTable_line
            .scheduleTable_line_time
              | 10:00 - 10:20
              .scheduleTable_line_time_min
               | 20min
            .scheduleTable_line_session-all.break
              | Welcome Talk
          .scheduleTable_line
            .scheduleTable_line_time
              | 10:20 - 10:50
              .scheduleTable_line_time_min
               | 30min
            .scheduleTable_line_session
              .scheduleTable_line_speakerIcon
                = image_tag 'pmconf_ico.png', width: '100', height: '100'
              .scheduleTable_line_descriptions
                .scheduleTable_line_title
                  | 熱狂的チームを作る
                .scheduleTable_line_speaker
                  | by 仲山進也 楽天大学学長
          .scheduleTable_line
            .scheduleTable_line_time
              | 10:50 - 11:35
              .scheduleTable_line_time_min
               | 45min
            .scheduleTable_line_session
              .scheduleTable_line_speakerIcon
                = image_tag 'pmconf_ico.png', width: '100', height: '100'
              .scheduleTable_line_descriptions
                .scheduleTable_line_title
                  | 熱狂的チームを作る トークセッション
                .scheduleTable_line_speaker
                  | by 仲山進也 楽天大学学長
          .scheduleTable_line
            .scheduleTable_line_time
              | 11:35 - 11:50
              .scheduleTable_line_time_min
               | 15min
            .scheduleTable_line_session-all.break
              | Break
          .scheduleTable_line
            .scheduleTable_line_time
              | 11:50 - 12:20
              .scheduleTable_line_time_min
               | 30min
            .scheduleTable_line_session
              .scheduleTable_line_speakerIcon
                = image_tag 'pmconf_ico.png', width: '100', height: '100'
              .scheduleTable_line_descriptions
                .scheduleTable_line_title
                  | ケーススタディ #3
                .scheduleTable_line_speaker
                  | 登壇者調整中
          .scheduleTable_line
            .scheduleTable_line_time
              | 11:30 - 11:45
              .scheduleTable_line_time_min
               | 15min
            .scheduleTable_line_session-all.break
              | Break
          .scheduleTable_line
            .scheduleTable_line_time
              | 12:20 - 13:30
              .scheduleTable_line_time_min
               | 1h 10min
            .scheduleTable_line_session
              .scheduleTable_line_speakerIcon
                = image_tag 'pmconf_ico.png', width: '100', height: '100'
              .scheduleTable_line_descriptions
                .scheduleTable_line_title
                  | 女性プロダクトマネージャー陣によるランチトークセッション
                .scheduleTable_line_speaker
                  | 登壇者調整中
          .scheduleTable_line
            .scheduleTable_line_time
              | 13:30 - 14:00
              .scheduleTable_line_time_min
               | 30min
            .scheduleTable_line_session
              .scheduleTable_line_speakerIcon
                = image_tag 'pmconf_ico.png', width: '100', height: '100'
              .scheduleTable_line_descriptions
                .scheduleTable_line_title
                  | ユーザー理解（行動観察）
                .scheduleTable_line_speaker
                  | 奥泉 直子 氏 フリーランス・ユーザーリサーチャー
          .scheduleTable_line
            .scheduleTable_line_time
              | 14:00 - 14:15
              .scheduleTable_line_time_min
               | 15min
            .scheduleTable_line_session-all.break
              | Break
          .scheduleTable_line
            .scheduleTable_line_time
              | 14:15 - 14:45
              .scheduleTable_line_time_min
               | 30min
            .scheduleTable_line_session
              .scheduleTable_line_speakerIcon
                = image_tag 'pmconf_ico.png', width: '100', height: '100'
              .scheduleTable_line_descriptions
                .scheduleTable_line_title
                  | 良いUXをデザインする
                .scheduleTable_line_speaker
                  | 小久保 浩大郎 氏 株式会社CAMPFIRE
          .scheduleTable_line
            .scheduleTable_line_time
              | 14:45 - 15:00
              .scheduleTable_line_time_min
               | 15min
            .scheduleTable_line_session-all.break
              | Break
          .scheduleTable_line
            .scheduleTable_line_time
              | 15:00 - 15:30
              .scheduleTable_line_time_min
               | 30min
            .scheduleTable_line_session
              .scheduleTable_line_speakerIcon
                = image_tag 'pmconf_ico.png', width: '100', height: '100'
              .scheduleTable_line_descriptions
                .scheduleTable_line_title
                  | エンジニアからプロダクトマネージャーへのキャリアパスを考える
                .scheduleTable_line_speaker
                  | by 株式会社サイバーエージェント
          .scheduleTable_line
            .scheduleTable_line_time
              | 15:30 - 15:50
              .scheduleTable_line_time_min
               | 20min
            .scheduleTable_line_session-all.break
              | Break
          .scheduleTable_line
            .scheduleTable_line_time
              | 15:50 - 16:50
              .scheduleTable_line_time_min
               | 1h
            .scheduleTable_line_session
              .scheduleTable_line_speakerIcon
                = image_tag 'pmconf_ico.png', width: '100', height: '100'
              .scheduleTable_line_descriptions
                .scheduleTable_line_title
                  | プロダクトマネージャーの採用と育成
                .scheduleTable_line_speaker
                  | Capella Yee 氏 Google, Inc.
          .scheduleTable_line
            .scheduleTable_line_time
              | 
            .scheduleTable_line_session
              .scheduleTable_line_speakerIcon
                = image_tag 'pmconf_ico.png', width: '100', height: '100'
              .scheduleTable_line_descriptions
                .scheduleTable_line_speaker
                  | by Bryan Cheng 氏 Google, Inc.
          .scheduleTable_line
            .scheduleTable_line_time
              | 16:50 - 17:05
              .scheduleTable_line_time_min
               | 15min
            .scheduleTable_line_session-all.break
              | Break
          .scheduleTable_line
            .scheduleTable_line_time
              | 17:05 - 17:55
              .scheduleTable_line_time_min
               | 50min
            .scheduleTable_line_session
              .scheduleTable_line_speakerIcon
                = image_tag 'speakers/TakaakiUmada.jpeg', width: '100', height: '100'
              .scheduleTable_line_descriptions
                .scheduleTable_line_title
                  | ディープセッション
                  br
                  |「日本のプロダクトマネージャーのあるべき姿とは」
                  br
                  | 今年のテーマ：広げる、深める、日本のプロダクトマネジメント
                .scheduleTable_line_speaker
                  | by 馬田 隆明 氏 東京大学 産学協創推進本部 東京大学本郷テックガレージ ディレクター
          .scheduleTable_line
            .scheduleTable_line_time
              | 17:55 - 18:15
              .scheduleTable_line_time_min
               | 20min
            .scheduleTable_line_session-all.break
              | クロージング
          .scheduleTable_line
            .scheduleTable_line_time
              | -
            .scheduleTable_line_session-all.break
              | ※ Day2 は ネットワーキングはありません
